/****************************************/
/************* MANAGE ACCOUNT ***********/
/****************************************/

#admin_mainpage{
  width: 1000px;
  margin: auto;
}

#admin_filter{
  text-align: center;
  margin-bottom: 20px;
  height: 77px;
  padding: 20px 0 0 130px;
}

#admin_filter span{
  display: inline-block;
  font-size: 11pt;
  height: 34px;
  line-height: 34px;
  float: left;
  margin-right: 20px;
}

#users_filter{
  width: 200px;
  margin: 0;
  float: left;
}

#users_list table{
  width: 930px;
}

#users_list .index, #users_list .email, #users_list .del, #users_list .check{
  padding-bottom: 17px;
}

#users_list .name{
  width: 170px;
  padding-bottom: 17px;
}

#users_list .level{
  width: 130px;
  padding-bottom: 17px;
}

#users_list .change_level{
  width: 100px;
}

.icon_change_level{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/system/change_level.png) no-repeat;
}
