/*****************************/
/********* UNIVERSAL *********/
/*****************************/
*{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

body{
  background-image: url(../images/system/background.gif);
  font-size: small;
}

.clr{
  clear: both;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

.website{
  background-color: #fff;
  width: 1040px;
  margin: auto;
}

table{
  margin: auto;
  text-align: center;
}

table thead{
  background: #DBE7FD;
}

table thead th{
  text-align: center;
}

.index{
  width: 60px;
}

.edit, .del, .check{
  width: 50px;
}

.icon_delete{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/system/delete.png) no-repeat;
}

.icon_edit{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/system/edit.png) no-repeat;
}

.icon_update{
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/system/update.png) no-repeat;
}

.error{
  padding-left: 60px;
  color: red;
  font-weight: bold;
}

.error ul{
  list-style-type: circle;
}

.error ul li{
  height: 25px;
  line-height: 25px;
}

/*****************************/
/************ TOP ************/
/*****************************/
#top{
  height: 35px;
  width: 1000px;
  margin: auto;
  background: #EFEFEF;
  z-index: 17;
}

#top_left{
  height: 35px;
  width: 500px;
  margin-left: 10px;
  float: left;
}

#top_left ul li{
  height: 35px;
  line-height: 35px;
  float: left;
  padding: 0 10px 0 26px;
}

#email{
  background: url(../images/system/email.png) no-repeat 0 10px;
}

#hotline{
  background: url(../images/system/hotline.png) no-repeat 0 5px;
}

#top_right{
  float: right;
  margin-right: 10px;
}

#top_right #current_user{
  height: 35px;
  line-height: 35px;
  margin-top: -10px;
}

#top_right #current_user li{
  float: left;
}

#top_right #current_user li a{
  color: #000;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  padding: 3px 0 3px 30px ;
  width: 110px;
  display: block;
}

#top_right #current_user #navigation > li{
  position: relative;
}

#top_right #current_user #navigation > li > ul{
  position: absolute;
  left: -65px;
  top: 35px;
  display: none;
  z-index: 20;
}

#top_right #current_user #navigation > li > ul > li{
  background: #D9F9D5;
  border-top: 1px dashed black;
}

#top_right #current_user #navigation > li > ul > li:hover{
  background: #8EED83;
}

.mini_menu{
  margin-top: -2px;
  padding-right: 20px;
  background: url(../images/system/arrow_down.png) no-repeat 26px 15px;
  margin-left: 10px;
}

.mini_menu img{
  width: 20px;
  height: 20px;
}

.mini_account{
  background: url(../images/system/mini_account.png) no-repeat 7px 11px;
}

.mini_invoices{
  background: url(../images/system/mini_invoices.png) no-repeat 7px 11px;
}

.mini_remarks{
  background: url(../images/system/mini_remarks.png) no-repeat 7px 11px;
}

.mini_logout{
  background: url(../images/system/mini_logout.png) no-repeat 7px 11px;
}

#top_right .visitor li{
  height: 35px;
  line-height: 35px;
  float: left;
}

#signup{
  background: url(../images/system/signup.png) no-repeat 0 7px;
  padding: 0 0 0 30px;
}

#login{
  background: url(../images/system/login.png) no-repeat 0 7px;
  padding: 0 0 0 22px;
}

#vertical_slash{
  margin: 0 12px;
}

/*****************************/
/********** HEADER ***********/
/*****************************/
#header{
  width: 1000px;
  margin: auto;
  height: 180px;
  position: relative;
}

#logo{
  position: absolute;
  left: 30px;
  top: 14px;
}

#logo img{
  width: 150px;
  height: 150px;
}

#search{
  position: absolute;
  position: relative;
  left: 260px;
  top: 70px;
  width: 370px;
}

#search input[type=submit]{
  position: absolute;
  top: 0;
  right: -68px;
  height: 34px;
  color: #fff;
  background: #05B2E9;
  border: none;
  border-radius: 5px;
  padding: 0 4px;
  line-height: 34px;
  font-weight: bold;
}

#cart{
  position: absolute;
  top: 40px;
  right: 0px;
  width: 240px;
  height: 88px;
  background: #EFEFEF;
  padding: 10px 0 10px 10px;
}

#cart a{
  display: block;
  border: 1px dashed #BFAB45;
  height: 70px;
  width: 70px;
  float: left;
  border-radius: 5px;
}

#cart a:hover{
  background-color: #FEF7E3;
}

#cart img{
  float: left;
  padding: 5px 15px 0 0;
  width: 81px;
  height: 69px;
}

#cart #info_cart{
  font-family: Verdana;
  font-weight: 900;
  text-align: center;
  height: 75px;
  padding: 12px 12px 0 0;
  color: #F00;
  float: right;
}

#feature{
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bolder;
}

#feature ul li{
  float: left;
  height: 35px;
  line-height: 35px;
  padding: 0 30px 0 35px;
}

#assurance{
  background: url(../images/system/assurance.png) no-repeat 0 3px;
}

#delivery{
  background: url(../images/system/delivery.png) no-repeat 0 2px;
}

/*****************************/
/************ MENU ***********/
/*****************************/
#menu{
  width: 1000px;
  margin: 15px auto;
  height: 42px;
  background: #000;
}

#menu ul li{
  float: left;
  height: 42px;
  border-right: 1px dotted #666;
}

#menu ul li a{
  padding: 0 25px;
  color: #ccc;
  font-weight: bold;
  line-height: 42px;
  display: inline-block;
}

#menu ul li a:hover{
  color: #fff;
  background: #f0f;
  text-decoration: none;

}

#menu img{
  float: left;
  padding: 3px 10px;
}

/*****************************/
/************ INFO ***********/
/*****************************/
#info{
  width: 1000px;
  margin: auto;
  height: 300px;
}

#slider{
  width: 630px;
  height: 300px;
  float: left;
}

#ads{
  width: 340px;
  height: 300px;
  float: right;
}

#up_ads{
  border: 1px solid black;
  border-radius: 5px;
}

#up_ads img{
  width: 338px;
  height: 200px;
  border-radius: 5px;
}

#down_ads{
  border-radius: 5px;
  text-align: center;
  height: 78px;
  margin-top: 20px;
}

#down_ads form{
  margin-left: 16px;
}

#down_ads input{
  width: 230px;
  float: left;
}

#down_ads button{
  float: left;
}

#down_ads p{
  font-weight: bold;
  font-size: 13pt;
  margin-top: 10px;
}

/*****************************/
/************ MAIN ***********/
/*****************************/
#main{
  width: 1000px;
  margin: 15px auto;
}

#main_left{
  width: 260px;
  float: left;
}

#main_left h3{
  font-size: 13pt;
  width: 200px;
  background: #FDD504;
  font-weight: bold;
  margin: 0;
  padding-left: 4px;
  height: 30px;
  line-height: 30px;
}

#main_left ul li{
  padding: 8px 3px 3px;
  height: 80px;
  border-bottom: 2px solid #F0F0F0;
}

#main_left ul li:hover{
  background-color: #FFE4E9;
}

#main_left .thumbnail{
  float: left;
  width: 70px;
  margin-bottom: 0;
}

#main_left .thumbnail img{
  height: 50px;
}

#main_left .abstract_info{
  float: left;
  margin-left: 5px;
  padding-top: 3px;
  width: 176px;
}

#main_left .abstract_info a{
  font-weight: bold;
}

#main_left .abstract_info span{
  background: red;
  color: #fff;
  border-radius: 3px;
  margin-left: 12px;
  padding: 2px 6px;
  font-weight: bold;
}

#main_left .abstract_info p{
  margin-top: 3px;
}

#main_right{
  float: right;
  width: 725px;
  border-left: 1px solid black;
}

.product{
  float: left;
  margin: 0 0px 21px 15px;
  text-align: center;
  padding: 4px;
  border-radius: 5px;
  height: 280px;
}

.product:hover{
  background:#EEE;
  box-shadow:0 0 15px #969696;
}

.product .product_name{
  font-size: 12pt;
  color: #FD00FC;
  font-weight: bold;
  margin: 5px auto;
  width: 200px;
}

.product .product_price{
  color: #8C7F83;
  margin: 0 0 3px 0;
}

.product img{
  width: 218px;
  height: 210px;
}

/*******************************/
/************ FOOTER ***********/
/*******************************/
#footer{
  width: 1000px;
  margin: 20px auto;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  background: #EFEFEF;
  color: #000;
}

#footer ul{
  margin: 0;
}

/***********************************/
/************ LOGIN FORM ***********/
/***********************************/
#login_form{
  width: 410px;
  margin: auto;
  font-weight: bold;
  background: #F0DFC9;
  padding: 22px 10px 10px 16px;
  border-radius: 10px;
}

#login_form table{
  text-align: left;
}

#login_form td{
  padding: 6px;
}

/***********************************/
/************* SIGN FORM ***********/
/***********************************/
#signup_form{
  width: 470px;
  margin: auto;
  font-weight: bold;
  background: #F0DFC9;
  padding: 25px 10px 10px 16px;
  border-radius: 10px;
}

#signup_form table{
  text-align: left;
}

#signup_form td{
  padding: 6px;
}

/****************************************/
/************* MANAGE ACCOUNT ***********/
/****************************************/
#back_to_main_page{
  width: 600px;
  margin: 50px auto;
}

#user_profile{
  width: 600px;
  margin: auto;
}

#user_profile #profile{
  position: relative;
}

#user_profile #profile form{
  width: 400px;
}

#user_profile #profile .error{
  width: 280px;
  height: 120px;
  position: absolute;
  padding: 10px 0 0 0;
  top: 0;
  right: 0;
}
#user_profile #profile table td{
  text-align: left;
  padding: 5px;
}

#account_info{
  /*width: 255px;*/
  margin: 10px 0 30px 30px;
}

#account_info table{
  margin: 15px 0 0 0;
  border: 1px solid #A0A0A0;
}

#account_info table td{
  padding: 5px 10px;
  text-align: left;
}

#address_list{
 margin-left: 30px;
}

.address_register{
 border: 1px dashed #A0A0A0;
 padding: 3px;
 border-radius: 5px;
 float: left;
 width: 255px;
 height: 140px;
 margin: 15px;
}
