/***************************************/
/********** LIST ALL PRODUCTS **********/
/***************************************/
#list_products_page{
  width: 1000px;
  margin: auto;
}

#products_filter{
  padding: 10px 10px 10px 30px;
  margin-bottom: 20px;
  height: 54px;
}

#products_filter span{
  display: block;
  float: left;
  height: 34px;
  line-height: 34px;
  font-size: 11pt;
  margin-right: 20px;
}

#products_list .product{
  margin-left: 24px;
}

/************************************/
/*********** SHOW PRODUCT ***********/
/************************************/
#show_product{
  width: 1000px;
  margin: auto;
}

#product_image{
  padding: 0 20px 20px 20px;
  float: left;
}

#product_image img{
  width: 480px;
  height: 360px;
}

#product_abstract_info{
  float: left;
  margin-left: 80px;
}

#product_abstract_info table{
  margin: 0;
}

#product_abstract_info table td{
  text-align: left;
  font-size: 12pt;
  padding: 10px;
}

#product_abstract_info table h1{
  margin: 0;
}

#product_abstract_info span{
  display: block;
  background: darkgoldenrod;
  border-radius: 5px;
  color: #fff;
  padding: 8px;
  width: 85px;
  font-weight: bold;
}

#product_abstract_info input[type='button']{
  width: 20px;
  height: 20px;
  border: none;
  float: right;
  margin: 6px;
}

#product_abstract_info #add{
  background: url(../images/system/add.png) no-repeat;
  margin-left: 25px;
}

#product_abstract_info #minus{
  background: url(../images/system/minus.png) no-repeat;
}

#product_abstract_info #login_for_buying{
  border-radius: 3px;
  background-color: #1E9F2F;
  width: 228px;
  margin: 0;
  font-size: 11pt;
  font-weight: normal;
}

#product_abstract_info #login_for_buying a{
  color: #fff;
}

#product_abstract_info #login_for_buying a:hover{
  text-decoration: underline;
}

#product_detail{
  width: 750px;
  padding: 20px;
}

#product_detail span{
  display: block;
  font-weight: bold;
  font-size: 14pt;
  margin-bottom: 20px;
  border-bottom: 1px solid #E7E7E7;
}

#product_detail div p{
  text-align: justify;
}

#your_remark{
  padding: 20px;
  width: 750px;
  position: relative;
}

#your_remark span{
  display: block;
  font-weight: bold;
  font-size: 14pt;
  border-bottom: 1px solid #E7E7E7;
}

#your_remark #login_to_remark{
  border-radius: 3px;
  background-color: #1E9F2F;
  width: 207px;
  padding: 2px;
  margin: 0;
  font-size: 11pt;
  font-weight: normal;
  float: left;
  position: absolute;
  top: 19px;
  left: 190px;
}

#your_remark #login_to_remark a{
  color: #fff;
}

#your_remark #login_to_remark a:hover{
  text-decoration: underline;
}

#your_remark form{
  margin-top: 10px;
}
#your_remark table{
  margin: 0;
  text-align: left;
}

#your_remark table td{
  padding: 5px;
}

#your_remark button{
  border: none;
  width: 23px;
  height: 24px;
  float: left;
  padding: 3px;
  background: url(../images/system/star.png) no-repeat 3px 5px;
}

#your_remark button:focus{
  outline: 0;
}

#your_remark table td textarea{
  resize: none;
}

#remark_and_reply_list{
  padding: 20px;
}

#remark_and_reply_list span{
  display: block;
  font-weight: bold;
  font-size: 14pt;
  border-bottom: 1px solid #E7E7E7;
  margin-bottom: 10px;
}

.customer_remark{
  border-bottom: 1px solid #E7E7E7;
}

.customer_remark table{
  margin: 20px 0;
}

.customer_remark table td{
  text-align: center;
}

.customer_remark img{
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

/************************************/
/************** SHOW CART ***********/
/************************************/
#my_cart{
  width: 1000px;
  margin: auto;
}

#pending_product{
  width: 700px;
  float: left;
}

#pending_product > span{
  display: block;
  font-size: 15pt;
  padding: 0 0 10px 10px;
}

#pending_product table .first_row{
  border-top: none;
  padding-bottom: 5px;
  font-size: 11pt;
}

#pending_product table .net_price{
  font-size: 13pt;
  font-weight: bold;
}

#pending_product table td{
  text-align: left;
  padding: 20px;
}

#pending_product table img{
  width: 160px;
  height: 120px;
}

#pending_product table .name_and_delete{
  padding: 20px 0;
}

#pending_product table h2{
  margin: 0;
  font-size: 16pt;
  font-weight: bold;
}

#pending_product table h2 a{
  color: #AD2A2A;
}

#pending_product table h2 a:hover{
  color: #848712;
}

#pending_product table .icon_delete{
  margin-top: 10px;
  padding-left: 25px;
}

#pending_product table select{
  margin-left: 8px;
}

#pending_product table .form-control{
  width: 85px;
}

#pending_product table .push_product{
  background: url(../images/system/add.png) no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  float: left;
  margin: 7px 5px 0 0;
}

#pending_product table .pop_product{
  background: url(../images/system/minus.png) no-repeat;
  width: 20px;
  height: 20px;
  border: none;
  float: left;
  margin: 7px 0 0 5px;
}




#make_order{
  float: right;
  width: 230px;
  padding-top: 80px;
}

#make_order a{
  padding: 10px 30px;
  font-weight: bold;
  font-size: 11pt;
}

#continue_buying a{
  background: url(../images/system/arrow_left.png) no-repeat 6px 6px;
  padding-left: 35px;
  font-weight: bold;
  margin-left: 20px;
}

#continue_buying a:hover{
  background-color: #F0F0F0;
}

/*****************************************/
/************** MANAGE ADDRESS ***********/
/*****************************************/
#create_edit_addr{
  width: 1000px;
  margin: auto;
  position: relative;
}

#addr_form form{
  margin-left: 150px;
  border: 1px solid #B2B2B2;
  border-radius: 5px;
  width: 472px;
  padding: 15px 30px;
}

#addr_form table{
  margin: 0;
}

#addr_form table td{
  text-align: left;
  padding: 5px;
}

#create_edit_addr .error{
  padding: 0;
  position: absolute;
  top: 50px;
  right: 100px;
}

/*******************************************/
/************** SHIPPING ADDRESS ***********/
/*******************************************/
#cart_shipping{
  width: 1000px;
  margin: auto;
}

#cart_shipping .shipping_address{
  border: 1px dashed black;
  border-radius: 5px;
  width: 460px;
  float: left;
  margin: 20px;
  padding: 10px;
}

#cart_shipping .shipping_address input{
  padding: 3px;
}

#cart_shipping .shipping_address input:hover{
  color: #fff;
  background-color: #00f;
}

#cart_shipping #no_addr a:hover{
  text-decoration: underline;
}

/**********************************/
/************** PAYMENT ***********/
/**********************************/
#cart_payment{
  width: 1000px;
  margin: auto;
}

#payment_method{
  width: 442px;
  float: left;
  border: 1px solid black;
  padding: 5px;
}

#payment_method table input[type='radio']{
  width: 25px;
  height: 25px;
  border-color: blue;
  margin: 0px;
}

#payment_method table label{
  margin: 0px;
  height: 40px;
  line-height: 40px;
}

#payment_method .atm_account_info{
  display: none;
}

#addr_invoice_detail{
  float: right;
}

#addr_invoice_detail .addr_info{
  border: 1px dashed black;
  border-radius: 5px;
  padding: 5px;
  width: 370px;
  margin-bottom: 20px;
  position: relative;
}

#addr_invoice_detail .addr_info a, #addr_invoice_detail .invoice_detail_info > a{
  display: block;
  border: 1px solid #a9a9a9;
  padding: 5px 15px;
  position: absolute;
  top: 6px;
  right: 5px;
  color: #000;
}

#addr_invoice_detail .addr_info a:hover, #addr_invoice_detail .invoice_detail_info > a:hover{
  background-color: #D1FDB3;
}

#addr_invoice_detail .addr_info p{
  text-align: justify;
}

#addr_invoice_detail .invoice_detail_info{
  border: 1px dashed black;
  position: relative;
  border-radius: 5px;
  padding: 5px;
  width: 370px;
}

#cart_payment table{
  margin: 0px;
}

#cart_payment table td{
  padding: 5px;
  text-align: left;
}

#addr_invoice_detail .invoice_detail_info span{
  font-weight: bold;
}

#addr_invoice_detail .invoice_detail_info .product_in_cart:hover{
  text-decoration: underline;
}

/***************************************/
/************** FINISH ORDER ***********/
/***************************************/
#success_order{
  width: 1000px;
  margin: auto;
  text-align: center;
  font-size: 14pt;
  padding: 30px 0px;
}

/**********************************************/
/************** USER: VIEW INVOICES ***********/
/**********************************************/
#my_invoices_list{
  width: 1000px;
  margin: auto;
}

#my_invoices_list p{
  font-weight: bold;
  font-size: 12pt;
  margin: 20px 0px;
}

#my_invoices_list table a:hover{
  text-decoration: underline;
}

/**********************************************/
/********** USER: VIEW INVOICE DETAIL *********/
/**********************************************/
#view_invoice_detail{
  width: 1000px;
  margin: auto;
  position: relative;
}

#view_invoice_detail > a{
  padding: 3px;
  position: absolute;
  top: 0px;
  left: 20px;
}

#view_invoice_detail .products_list{
  width: 600px;
  margin: 60px 0px 0px 50px;
  float: left;
}

#view_invoice_detail .products_list table a:hover{
  text-decoration: underline;
}

#view_invoice_detail .respective_addr{
  width: 300px;
  float: right;
  margin-top: 60px;
}

#view_invoice_detail .respective_addr div{
  border: 1px dashed black;
  padding: 5px;
}

/*******************************/
/********** SHOW NEWS **********/
/*******************************/
#list_news{
  width: 700px;
  margin: 30px 0 0 20px;
}

#list_news .news_item{
  padding: 5px 5px 25px;
  margin-bottom: 20px;
  border-bottom: 1px solid #808080;
}

#list_news .news_item .poster{
  float: left;
}

#list_news .news_item .news_abstract_info{
  float: left;
  padding-left: 30px;
}

#show_news{
  width: 700px;
  margin: 30px 0 0 20px;
}

#show_news #news_content{
  margin-top: 30px;
}
