/*****************************/
/********* MAIN PAGE *********/
/*****************************/
#salesmanager_mainpage{
  width: 1240px;
}

#salesmanager_mainpage_wrapper{
  width: 1200px;
  margin: auto;
  margin-top: 20px;
}

#left_content{
  float: left;
  padding: 0px 10px 10px 0;
}

#left_menu{
  width: 220px;
  border: 1px solid #000;
  border-radius: 6px;
  background: #F0E5F1;
}

#left_menu > ul{
  padding: 10px 20px 20px 20px;
  margin-bottom: 0;
}

#left_menu li{
  font-weight: bold;
  font-size: 12pt;
}

#left_menu > ul > li{
  border-bottom:1px solid #BC5F20;
}

#left_menu .submenu{
  padding-bottom:15px;
}

#left_menu .submenu li{
  padding-left:30px;
  font-size: 11pt;
  background:url(../images/system/arrow_right.png) no-repeat 10px 8px;
}

#left_menu a{
  color:#666;
  line-height: 35px;
  height: 35px;
  display: block;
}

#left_menu a:hover{
  color:#F0F;
  cursor:pointer;
}

#right_content{
  width: 955px;
  float: right;
}

#sub_navbar{
  height: 35px;
  margin-bottom: 20px;
}

#sub_navbar ul{
  margin: 0;
}

#sub_navbar ul li{
  height: 35px;
  line-height: 35px;
  float: left;
  margin-right: 15px;
  font-weight: bold;
}

/**********************************/
/********* MANAGE EFFECTS *********/
/**********************************/
#effects_list{
  width: 700px;
  margin: auto;
}

#effects_list table{
  margin-top: 10px;
}

#effects_list .products_amount{
  width: 145px;
}

#add_effect_interface form{
  margin: auto;
  width: 585px;
}

#add_effect_interface table{
  margin-bottom: 20px;
}

#add_effect_interface table td{
  padding: 5px;
  text-align: left;
}

/***********************************/
/********* MANAGE PRODUCTS *********/
/***********************************/
#other_action{
  height: 115px;
  margin-top: -25px;
}

#other_action form{
  float: left;
  padding: 5px;
}

#other_action table{
  margin: 0;
}

#other_action form table td{
  text-align: left;
  padding: 5px;
  font-size: 11pt;
}

#other_action #product_filter{
  margin-left: 130px;
}

#other_action #search_product{
  margin-left: 20px;
}



#product_list table{
  margin-top: 10px;
}

#product_list table th{
  padding-bottom: 17px;
}

.remain, .running_out, .out_of_stock{
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
}

.remain{
  background-color: #0362C5;
}

.running_out{
  background-color: #EC971F;
}

.out_of_stock{
  background-color: #C9302C;
}

.product_price{
  width: 165px;
}

.product_status, .sold_quantity, .current_quantity{
  width: 90px;
}

.update_quantity{
  width: 80px;
}

#add_edit_product_interface form{
  float: left;
  width: 675px;
}

#add_edit_product_interface table td{
  text-align: left;
  padding: 5px;
  font-size: 11pt;
}

#add_edit_product_interface .error{
  width: 258px;
  float: left;
  padding-left: 16px;
}

#update_product_quantity{
  width: 400px;
  margin: auto;
}

#update_product_quantity .error{
  height: 30px;
}

#update_product_quantity form table td{
  text-align: left;
  padding: 6px;
  font-size: 11pt;
}

#update_product_quantity form table input[type='text']{
  width: 100px;
  float: left;
}

#update_product_quantity form table span{
  display: block;
  padding: 7px;
  float: left;
}

/***********************************/
/********* MANAGE INVOICES *********/
/***********************************/
#all_invoices .view_invoice_detail:hover{
  text-decoration: underline;
}

.success_delivery, .in_buying, .ordered, .in_progressing{
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

.success_delivery{
  background-color: #5CB85C;
}

.in_buying{
  background-color: red;
}

.ordered{
  background-color: #0362C5;
}

.in_progressing{
  background-color: #EC971F;
}

#all_invoices table .atm_card, #all_invoices table .money{
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/system/atm_card.png) no-repeat;
  margin-left: 35px;
}

#all_invoices table .atm_card{
  background: url(../images/system/atm_card.png) no-repeat;
}

#all_invoices table .money{
  background: url(../images/system/money.png) no-repeat;
}

#left_list_invoice_detail{
  float: left;
  width: 550px;
}




#right_list_invoice_detail{
  float: right;
  width: 320px;
}

#right_list_invoice_detail > p{
  font-weight: bold;
  font-size: 11pt;
}

#right_list_invoice_detail > div{
  border: 1px dashed black;
  padding: 5px;
  margin-bottom: 20px;
}
